{{ include('partials/header.twig') }}

    {% for key, item in values %}
        <div>{{ key ~ ' = ' ~ item }}</div>
    {% endfor %}

    {% for index in range(1, 10, 1) %}
        <a href="page/{{ index }}">{{ index }}</a>
    {% endfor %}

    {% set toto = 'coucou' %}
    {{ toto }}

{{ include('partials/footer.twig') }}